﻿@model UserCenter.Models.RegisterModel

@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
{
    @Html.AntiForgeryToken()

    <legend>注册</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-lg-2 col-lg-offset-2 control-label"})
        <div class="col-lg-5">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-lg-2 col-lg-offset-2 control-label"})
        <div class="col-lg-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 col-lg-offset-2 control-label"})
        <div class="col-lg-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-4 col-lg-10">
            <input type="submit" value="注册" class="btn btn-large btn-primary" />
        </div>
    </div>
    @Html.ValidationSummary()
}