﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>登录</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap/all")
        @Styles.Render("~/Content/themes/flat-ui/css/all")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <section id="loginPanel" class="form-horizontal well well-lg accountPanel">
            @Html.Partial("_Login")
            <p>首次登录请 <a id="showRegister">注册</a></p>
        </section>
        <section id="registerPanel" class="form-horizontal well well-lg accountPanel">
            @Html.Partial("_Register")
            <p>已经拥有账号? <a id="showLogin">登录</a></p>
        </section>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/flatui-plugin")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/account")
    </body>
</html>
