﻿<form class="form-horizontal">
  <div class="form-group" data-bind="css: {'has-error': !SysName.isValid() && SysName.isModified()} ">
    <label class="col-lg-2 control-label">名称</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" data-bind="value: SysName, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group" data-bind="css: {'has-error': !Code.isValid() && Code.isModified()} ">
    <label class="col-lg-2 control-label">编号</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" data-bind="value: Code, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group" data-bind="css: {'has-error': !AppKey.isValid() && AppKey.isModified()} ">
    <label class="col-lg-2 control-label">AppKey</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" data-bind="value: AppKey, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group" data-bind="css: {'has-error': !Path.isValid() && Path.isModified()} ">
    <label class="col-lg-2 control-label">路径</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" data-bind="value: Path, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group" data-bind="css: {'has-error': !Scale.isValid() && Scale.isModified()} ">
    <label class="col-lg-2 control-label">兑换比例</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" data-bind="value: Scale, valueUpdate: 'afterkeydown'">
    </div>
  </div>
</form>
