﻿@{
	ViewBag.Title = "子系统管理";
}
<div class="col-lg-12">
	<div class="row">
		@Html.Partial("Shared/_Sidebar")
		<div class="col-lg-10" data-bind="with: subSystemCollection">
			<div class="row">
				<button type="button" data-toggle="modal" href="#formBench" class="btn btn-primary col-lg-2 col-lg-offset-9" data-bind="click: add">添加</button>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>编号</th>
						<th>子系统名称</th>
						<th>AppKey</th>
						<th>路径</th>
						<th>兑换比例</th>
						<th style="width: 120px"></th>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: data -->
					<tr>
						<td data-bind="text: Code"></td>
						<td data-bind="text: SysName"></td>
						<td data-bind="text: AppKey"></td>
						<td data-bind="text: Path"></td>
						<td data-bind="text: Scale"></td>
						<td>
							<button type="button" data-toggle="modal" href="#formBench" class="btn btn-xs btn-warning" data-bind="click: $parent.update">修改</button>
							<button type="button" data-toggle="modal" href="#confirm" class="btn btn-xs btn-danger" data-bind="click: $parent.delete">删除</button>
						</td>
					</tr>
					<!-- /ko -->
				</tbody>
			</table>
			@Html.Partial("_Pagination")
		</div>
	</div>
</div>
@section modal {
<div class="modal fade" id="formBench" data-bind="with: subSystemCollection">
	<div class="modal-dialog">
		<div class="modal-content" data-bind="with: subSysBench">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" data-bind="text: $parent.benchType() == 'create' ? '添加新系统' : '系统设置修改'"></h4>
			</div>
			<div class="modal-body">
				@Html.Partial("_SubSysForm")
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" data-bind="click: $parent.submit">确认</button>
			</div>
		</div>
	</div>
</div>
@Html.Partial("_Confirm")
}
@section scripts {
	@Scripts.Render("~/bundles/shared")
	@Scripts.Render("~/bundles/subsystem/index")
}