﻿<div class="col-lg-2">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><a href="#">园区信息管理</a></li>
      <li><a href="#">部门管理</a></li>
      <li><a href="#">班级管理</a></li>
      <li><a href="#">教师管理</a></li>
      <li><a href="#">学生管理</a></li>
    </ul>
  </div>
</div>