﻿<div class="modal fade" id="confirm", data-bind="with: confirm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" data-bind="text: title"></h4>
			</div>
			<div class="modal-body">
				<p data-bind="text: content"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: cancel">关闭</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: confirm">确认</button>
			</div>
		</div>
	</div>
</div>