﻿<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap/all")
        @Styles.Render("~/Content/themes/flat-ui/css/all")
        @Styles.Render("~/Content/themes/messenger/all")
        @Styles.Render("~/Content/themes/messenger/messenger-theme-air.css")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <section>
            <head>
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-header">
                        @Html.ActionLink("用户中心", "Index", "Home", new {}, new { @class = "navbar-brand"})
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
                    </div>
                    <div class="navbar-collapse collapse navbar-collapse-01">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">子系统</a>
                                <ul>
                                    <li>@Html.ActionLink("子系统管理", "Index", "SubSystem")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="fui-user"></span></a>
                                <ul>
                                    <li>@using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" })) {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()">登出</a>
                                        }
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a id="todotrigger" href="#"><span class="fui-list"></span></a></li>
                        </ul>
                    </div>
                </div>
            </head>
            <body>
                @RenderBody()
            </body>
        </section>
        @RenderSection("modal", required: false)
        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
    </body>
</html>