<div class="pagination" data-bind="with: pagination, visible: pagination.totalPage() > 1">
	<ul>
	  <!-- ko foreach: pages -->
	  <li data-bind="css: {active: index == $parent.currentPage(), previous: ($data.arrowLeft), next: ($data.arrowRight)}">
	  	<a href="#" data-bind="text: content, click: $parent.changePage.bind($parent), css: {'fui-arrow-left': ($data.arrowLeft), 'fui-arrow-right': ($data.arrowRight)}"></a>
	  </li>
	  <!-- /ko -->
	</ul>
</div>