.btn.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
body{font-family:'Courier New',Courier,'微软雅黑','黑体',monospace;font-size:14px}
p{font-size:14px}
a{text-decoration:none}
.modal{overflow-y:auto}
.sidebar-nav{padding:9px 0}
.navbar{border-radius:0}
.navbar-inverse .nav>li:first-child>a{border:0 !important}
.navbar-inverse .navbar-brand{border-bottom:0}
.form-horizontal .control-label{padding-top:10px}
.checkbox .icons{margin-top:7px}
.accountPanel{margin:200px auto;width:700px}
#registerPanel{display:none}
#logoutForm{margin:0}
