// Custem button
.btn-radius () {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn.btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
	.btn-radius
}

.btn.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
	.btn-radius
}

// Global font fix
body {
    font-family: 'Courier New', Courier, '微软雅黑', '黑体', monospace;
    font-size: 14px;
}

p {
	font-size: 14px;
}

// Fix a tag
a {
	text-decoration: none;
}

// Modal overflow fix
.modal {
    overflow-y: auto;
}

// Sidebar
.sidebar-nav {
	padding: 9px 0;
}

// #formBench {
// 	margin-left: -400px;
// 	width: 800px;
// }

// Navbar fix
.navbar {
	border-radius: 0px;
}

.navbar-inverse .nav > li:first-child > a {
	border: 0px !important;
}

.navbar-inverse .navbar-brand {
	border-bottom: 0px;
}

// Fix label in form
.form-horizontal .control-label {
	padding-top: 10px;
}

// Checkbox fix
.checkbox .icons {
	margin-top: 7px;
}

// Login and register View
.accountPanel {
	margin: 200px auto;
	width: 700px;
}

#registerPanel {
	display: none;
}

#logoutForm {
	margin: 0px;
}

// .row-fluid .form-inline input {
// 	height: 21px;
// 	width: 90px;
// }