﻿<form class="form-horizontal">
  <div class="form-group" data-bind="css: {'has-error': !Name.isValid() && Name.isModified()}">
    <label class="col-lg-2 control-label">用户名</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" data-bind="value: Name, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">中文名</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" data-bind="value: CName, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group" data-bind="css: {'has-error': !Email.isValid() && Email.isModified()}">
    <label class="col-lg-2 control-label">邮箱</label>
    <div class="col-lg-8">
        <input type="text" class="form-control" data-bind="value: Email, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: IsActive, event: { change: function(model, evt){model.IsActive(evt.target.checked);} }" data-toggle="checkbox" >
        是否有效
      </label>
    </div>
  </div>
</form>
