﻿@{
    ViewBag.Title = "用户管理";
}
<div>
  <div class="col-lg-2">
    <div class="well sidebar-nav">
      <ul class="nav">
            <li><a href="#">代理商管理页面</a></li>
            <li><a href="#">商品管理页面</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-10" data-bind="with: userCollection">
    <div class="row">
      <form class="form-inline col-lg-4" data-bind="with: filter">
        <div class="form-group" style="padding-top: 7px;">
          <label>用户名过滤 <span class="glyphicon glyphicon-filter"></span></label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" data-bind="value: Name, valueUpdate: 'afterkeyup'">
        </div>
      </form>
      <div class="btn-group col-lg-3 col-lg-offset-2" data-bind="foreach: sourceList">
        <a class="btn btn-primary" href="#" data-bind="click: $parent.changeSource.bind($parent), css: {active: type == $parent.sourceType()}, text: name"></a>
      </div>
      <button type="button" data-toggle="modal" href="#formBench" class="btn btn-primary col-lg-2" data-bind="click: add, visible: extraButtenVisable">添加</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 150px">用户</th>
          <th style="width: 150px">中文名</th>
          <th style="width: 150px">邮箱</th>
          <th style="width: 80px">是否有效</th>
          <th style="width: 100px">积分</th>
          <th style="width: 250px">创建日期</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- ko foreach: data -->
        <tr>
          <td data-bind="text: Name"></td>
          <td data-bind="text: CName"></td>
          <td data-bind="text: Email"></td>
          <td data-bind="text: formatIsActive"></td>
          <td data-bind="text: Point"></td>
          <td data-bind="text: formatTime"></td>
          <td>
            <button type="button" data-toggle="modal" href="#formBench" class="btn btn-xs btn-warning" data-bind="click: $parent.update.bind($parent), visible: $parent.extraButtenVisable">修改</button>
            <button type="button" data-toggle="modal" href="#pointBench" class="btn btn-xs btn-inverse" data-bind="click: $parent.modifyPoint.bind($parent)">修改积分</button>
            <button type="button" data-toggle="modal" href="#confirm" class="btn btn-xs btn-info" data-bind="click: $parent.resetPwd.bind($parent), visible: $parent.extraButtenVisable">重置密码</button>
          </td>
        </tr>
        <!-- /ko -->
      </tbody>
    </table>
    @Html.Partial("_Pagination")
  </div>
</div>
@section modal {
<div class="modal fade" id="formBench" data-bind="with: userCollection" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-bind="with: userBench">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" data-bind="text: $parent.benchType() == 'create' ? '添加用户' : '用户修改'"></h4>
      </div>
      <div class="modal-body">
        @Html.Partial("_UserForm")
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-bind="click: $parent.submit.bind($parent)">确认</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pointBench" data-bind="with: userCollection" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-bind="with: pointBench">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改积分</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group" data-bind="css: {'has-error': !Point.isValid() && Point.isModified()}">
            <label class="col-lg-2 control-label">积分</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" data-bind="value: Point, valueUpdate: 'afterkeydown'">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-bind="click: $parent.submitPoint.bind($parent)">确认</button>
      </div>
    </div>
  </div>
</div>
@Html.Partial("_Confirm")
}
@section scripts {
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/home/index")
}